/* Below is for dark mode */
body{
	background-color:#2d3436 ;
/* #2d3436 */
}
h1{
    color: white;
}
p{
    color: white;
}
.card{
    background-color: #808e9b;
}
.card-text{
    color: black;
}

td{
    color: white;
}

/* .container{ */
/* 	background-color: #f6f5f5; */
/* } */

/* tfoot{ */
/* 	color: black; */
/* 	font-size: 1.3em; */
/* } */

/* .bd-footer{ */
/* 	color: #63707c; */
/* } */

/* footer{ */
/* 	background-color: #f8f9fa; */
	/* background-color:#2d3436 ; */
/* 	position: relative; */
/* 	width: 100%; */
/* 	left: 0; */
/* 	bottom: 0; */
/* } */

/* .bg-light{ */
/* 	background-color: #f8f9fa; */
/* } */

