{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    {% include 'partials/nav_dash.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% include 'partials/nav_dash_2.html' %}
      <button type="button" class="btn btn-outline-dark" id='bar'>Bar</button>
      <button type="button" class="btn btn-outline-dark" id='line'>Line</button>
      <div class="row">
        <canvas id="myChart3" width="300" height="150"></canvas>
        <br />
        <canvas id="myChart4" width="300" height="150"></canvas>
        <br />
        <canvas id="myChart5" width="300" height="150"></canvas>
        <br />
        <canvas id="myChart2" width="300" height="150"></canvas>
        <br />
        <canvas id="myChart" width="300" height="150"></canvas>
      </div>
    </main>
  </div>
</div>

<script>
  const line = document.getElementById('line')
  const bar = document.getElementById('bar')
  line.addEventListener('click', changeline)
  bar.addEventListener('click', changebar)


  const ctx = document.getElementById('myChart').getContext('2d');
  const ctx2 = document.getElementById('myChart2').getContext('2d');
  const ctx3 = document.getElementById('myChart3').getContext('2d');
  const ctx4 = document.getElementById('myChart4').getContext('2d');
  const ctx5 = document.getElementById('myChart5').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        {% for key, _ in all_equipment_blbu_avg.items %} 
           '{{key}}', 
        {% endfor %} 
        ],
  datasets: [{
    label: 'Average of equipment cost',
    data: [
      {% for _, value in all_equipment_blbu_avg.items %}
      {{ value.av }},
      {% endfor %} 
         ],
  backgroundColor: [
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)'
  ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1
         }]
     },
  options: {
    scales: {
      y: {

        beginAtZero: true
      }
    }
  } 
 });
  const myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: [
        {% for key, _ in all_equipment_nvb_blbu_avg.items %} 
           '{{key}}', 
{% endfor %} 
       ],
  datasets: [{ 
    label: 'Average of equipment NBV',
    data: [
      {% for _, value in all_equipment_nvb_blbu_avg.items %}
      {{ value.av }},
      {% endfor %} 
         ],
  backgroundColor: [
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)'
  ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1 
         }]
     },
  options: {

    scales: {

      y: {

        beginAtZero: true
      }
    }
  } 
 });
  const myChart3 = new Chart(ctx3, {
    type: 'bar',
    data: {
      labels: [
        {% for key, _ in all_equipment_acq_blbu_sum.items %}
          '{{key}}',
          {% endfor %}
      ],
  datasets: [{
    label: 'Sum of equipment cost of acquisition',
    yAxisID: 'A',
    data: [
      {% for _, value in all_equipment_acq_blbu_sum.items %}
          {{ value.sum }},
  {% endfor %}
  ],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
      }, {
    label: 'Count of equipment',
      yAxisID: 'B',
        data: [
        {% for _, value in all_equipment_acq_blbu_sum.items %}
        {{ value.count }},
        {% endfor %}
        ],
  backgroundColor: [
    'rgba(255, 99, 132, 0.4)',
    'rgba(54, 162, 235, 0.4)',
    'rgba(255, 206, 86, 0.4)',
    'rgba(75, 192, 192, 0.4)',
    'rgba(153, 102, 255, 0.4)',
    'rgba(255, 159, 64, 0.4)'
  ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1
      }]
    },
  options: {
    scales: {
      yAxes: [{
        id: 'B',
        position: 'right'
      }, {
        id: 'A',
        position: 'left'
      }]
    }
  }
});
  const myChart4 = new Chart(ctx4, {
    type: 'bar',
    data: {
      labels: [
        {% for key, _ in all_equipment_nbv_blbu_sum.items %}
          '{{key}}',
          {% endfor %}
      ],
  datasets: [{
    label: 'Sum of equipment NBV',
    yAxisID: 'A',
    data: [
      {% for _, value in all_equipment_nbv_blbu_sum.items %}
      {{ value.sum }},
      {% endfor %}
    ],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
      }, {
    label: 'Count of equipment',
      yAxisID: 'B',
        data: [
          {% for _, value in all_equipment_nbv_blbu_sum.items %}
          {{ value.count }},
          {% endfor %}
        ],
  backgroundColor: [
    'rgba(255, 99, 132, 0.4)',
    'rgba(54, 162, 235, 0.4)',
    'rgba(255, 206, 86, 0.4)',
    'rgba(75, 192, 192, 0.4)',
    'rgba(153, 102, 255, 0.4)',
    'rgba(255, 159, 64, 0.4)'
  ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1
      }]
    },
  options: {
    scales: {
      yAxes: [{
        id: 'B',
        position: 'right'
      }, {
        id: 'A',
        position: 'left'
      }]
    }
  }
});
  const myChart5 = new Chart(ctx5, {
    type: 'bar',
    data: {
      labels: [
        {% for key, _ in all_equipment_nbv_blbu_sum.items %}
          '{{key}}',
          {% endfor %}
      ],
  datasets: [{
    label: 'Sum of equipment NBV',
    data: [
        {% for _, value in all_equipment_nbv_blbu_sum.items %}
        {{ value.sum }},
        {% endfor %}
  ],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
      }, {
    label: 'Sum of equipment cost',
      data: [
        {% for _, value in all_equipment_acq_blbu_sum.items %}
        {{ value.sum }},
        {% endfor %}
        ],
  backgroundColor: [
    'rgba(255, 99, 132, 0.4)',
    'rgba(54, 162, 235, 0.4)',
    'rgba(255, 206, 86, 0.4)',
    'rgba(75, 192, 192, 0.4)',
    'rgba(153, 102, 255, 0.4)',
    'rgba(255, 159, 64, 0.4)'
  ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1
      }]
    },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

  function changeline() {
    myChart.config.type = 'line'
    myChart.update()
  }
  function changebar() {
    myChart.config.type = 'bar'
    myChart.update()
  }


</script>

{% endblock %}
