{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    {% include 'partials/nav_dash.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% include 'partials/nav_dash_2.html' %}
      <button type="button" class="btn btn-outline-dark" id='bar'>Bar</button>
      <button type="button" class="btn btn-outline-dark" id='line'>Line</button>
      <div class="row">
        <canvas id="myChart" width="300" height="150"></canvas>
        <hr/>
        <canvas id="myChartflow" width="300" height="150"></canvas>
        <p class="fw-lighter col"> Total records... {{ dash_query_daily.count}}</p>
      </div>
    </main>
  </div>
</div>

{% include 'partials/scripts/dailydashbaord_js.html' %}

{% endblock %}
