{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    {% include 'partials/nav_dash.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% include 'partials/nav_dash_2.html' %}
      <button type="button" class="btn btn-outline-dark" id='bar'>Bar</button>
      <button type="button" class="btn btn-outline-dark" id='line'>Line</button>
      <div class="row">
        <canvas id="myChart3" width="300" height="150"></canvas>
        <!-- Cost of asset acquisition vs count -->
        <br />
        <canvas id="myChart4" width="300" height="150"></canvas>
        <!-- Cost of asset NBV vs count -->
        <br />
        <canvas id="myChart5" width="300" height="150"></canvas>
        <!-- Cost of asset NBV vs acquisition -->
        <br />
        <canvas id="myChart2" width="300" height="150"></canvas>
        <!-- Average of asset NBV TODO try and remove this as its not informative-->
        <br />
        <canvas id="myChart" width="300" height="150"></canvas>
        <!-- Average of asset acquisition TODO try and remove this as its not informative-->
        <div class="col">
          <canvas id="myChart_pie_count" width="300" height="150"></canvas>
        </div>
        <div class="col">
          <canvas id="myChart_pie_acq_cost" width="300" height="150"></canvas>
        </div>
      </div>
    </main>
  </div>
</div>

{% include 'partials/scripts/equidashbaord_js.html' %}

{% endblock %}
