{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    {% include 'partials/nav_dash.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% include 'partials/nav_dash_2.html' %}
      <button type="button" class="btn btn-outline-dark" id='bar'>Bar</button>
      <button type="button" class="btn btn-outline-dark" id='line'>Line</button>
      <div class="row">
        <div class="col">
          <canvas id="myChart" width="300" height="150"></canvas>
        </div>
        <div class="col">
          <canvas id="myChartpie" width="300" height="150"></canvas>
        </div>
      </div>
    </main>
  </div>
</div>

{% include 'partials/scripts/maindashbaord_js.html' %}

{% endblock %}
