{% extends 'base.html' %}
<!-- {#% load humanize %} -->

{% block body_block %}


<div class="row ">
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <h3 class="display-5">Jobs Full details</h3>
        <hr />
        <div class="col">
          <p class='card-text'>Job ID : {{ jobs_detail.gen_JOBID}}</p>
          <p class='card-text'>Client : {{ jobs_detail.client}}</p>
          <p class='card-text'>Field : {{ jobs_detail.field}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Well : {{ jobs_detail.well}}</p>
          <p class='card-text'>BU : {{ jobs_detail.BU}}</p>
          <p class='card-text'>Description : {{ jobs_detail.description}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Start Date : {{ jobs_detail.startDate }}</p>
          <p class='card-text'>End Date : {{ jobs_detail.endDate }}</p>
          <p class='card-text'>Contract : {{ jobs_detail.isContract}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div class="card ">
  <div class="card-header">
    <h3 class="display-5">Daily reports</h3>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr class="table-dark" style="position: sticky ; top: 0;">
      <th scope="col">Date</th>
      <th scope="col">Last 24hr Ops</th>
      <th scope="col">Next 24hr Ops</th>
      <th scope="col">Oil rate</th>
      <th scope="col">Choke Size</th>
      <th scope="col">WHP</th>
    </tr>
  </thead>
  <tbody>
    {% for fa in jobDaily %}
    <tr>
      <td><a href="{% url 'dailyreport_detail' pk=fa.pk %}">{{ fa.operationdate }}</a></td>
      <td style='width:400px' align="justify">{{ fa.lastdayops }}</td>
      <td style='width:400px' align="justify" >{{ fa.nextdayops }}</td>
      <td>{{ fa.oilrate}} BPD</td>
      <td>{{ fa.chokesize }}/64"</td>
      <td >{{ fa.whp }} psi</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



<a class="btn btn-primary" href="{% url 'jobs' %}">Back to Jobs</a>
<div class="card-footer text-muted">
  {% if jobs_detail.endDate is null %}
  <p class='card-text' style="color: green;">Job is running </p>
  {% else %}
  <p class='card-text' style="color: red;">Job ended</p>
  {% endif %}
</div>


{% endblock %}
